body, html {
    height: 100%;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
.hero-text p {
   font-size: 1.5rem;
   margin-bottom: 2rem;
}